.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
}

.recipe-container {
  background-color: #495057;
    width: 398px;
    height: 435px;
    color: white;
    margin: 2rem;
    box-shadow: 5px 5px 5px lightgrey;
}

.recipe-container:hover {
  cursor: pointer;
  box-shadow: 8px 8px 5px darkgrey;
  border: 0px groove #495057;
  background-color: white;
  color: #495057;
  
}


.recipe-container-image {
  object-fit: cover;
  object-position: center;
  height: 320px;
  width: 398px;
  
  
}

.recipe-container-text {
  margin: 1rem;
}

.filter-header {
  margin-top: 1rem;
  text-align: justify;
}

.filters-recipes {
  flex-direction: row;
  display: flex;
}

.filters {
  width: 30%;
  display: flex;
  margin: 3rem;
  text-align: justify;
}

.filter-button {
  margin-top: 1rem;
}

.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-brand {
  margin-left:2rem;
}

.nav-link-active {
  margin-right:2rem;
}

.zoomout-img {
  width:100%;
  z-index: 10;
}

.btn-secondary {
  background-color: #495057;
}

.homepage-body {
  display: flex;
  flex-direction: column;
}

.homepage-main {
  margin-top: 3.5rem;
}

.search-bar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 25%;
  margin-left: 25%;
}

.search-alert {
  margin-right:40%;
  margin-left:40%
}

.single-recipe-page {
  display: flex;
  flex-direction: column;
}

.recipe-title-photo {
  display: flex;
  flex-direction: row;
}

.single-recipe-page-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495057;
  color: white;
  padding: 4rem;
  margin-bottom: 0;
}

.single-recipe-page-image {
  width: 50%
}

.recipe-features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.03);
  height: 4rem;
  align-items: center;
}

.ingredients-instructions {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
}

.ingredients {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3rem;
  box-shadow: 5px 0px 5px lightgrey;
}

.instructions {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3rem;
  box-shadow: 5px 0px 5px lightgrey;
}

.favorite {
  padding-right: 0.5rem;
}

.back-button-field {
    justify-content: end;
}

.back-button {
  width: 8rem;
    margin-right: 2rem;
}

@keyframes zoomout {
  0% {
    -webkit-transform: scale(1.1);
}
100% {
    -webkit-transform: scale(1);
}
}

